<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature android:name="android.hardware.usb.host" android:required="true" />
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:label="JetLink Pixel Test" android:allowBackup="false" android:extractNativeLibs="true">
    <uses-native-library android:name="libedgetpu_litert.so" android:required="false" />
    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask" android:configChanges="orientation|screenSize" android:screenOrientation="portrait">
      <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
      <intent-filter><action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" /></intent-filter>
      <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/usb_devices" />
    </activity>
  </application>
</manifest>
